.todo-app form {
    display: flex;
    justify-content: space-evenly;
    padding: 0 30px;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;

    position: sticky;
    top: 0;
}

.todo-input {
    height: 60px;
    border: none;
    width: 100%;
    outline: none;
    opacity: 50%;
    font-size: 1.5rem;
}

.submit-btn {
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 2rem;
    opacity: 20%;
}
