.todo-app form {
    display: flex;
    justify-content: space-evenly;
    padding: 0 30px;

}

.todo-input {
    height: 60px;
    border: none;
    width: 100%;
    outline: none;
    opacity: 50%;
    font-size: 1.5rem;
}

.submit-btn {
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 2rem;
    opacity: 30%;
}

/* .submit-btn:hover {
    background: #ff6f47;
    color: white;
  } */