.todo {
  border: 1px solid #e6e6e66b;
  height: 60px;
  font-size: 1.5rem;
  color: black;
  display: flex;
  align-items: center;
  transition: all 1s ease;
  padding: 0 14px 0 30px;
  background: #fff;
 
}

.todo li {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.completed .todo-item {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}

.completed .complete-btn {
  color: rgb(10, 169, 10);
}

.complete-btn,
.trash-btn {
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 10px;
  color: #fff;
}

.trash-btn {
  display: none;
}

.complete-btn {
  border-radius: 100%;
  outline: 1px solid #e6e6e6;
  background: none;
}

.todo:hover > .trash-btn {
  color: rgb(226, 104, 73);
  display: block;
}

.edit-input {
  height: 40px;
  width: 100%;
  font-size: 1.5rem;
}
