.footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  height: 60px;
  border-top: 1px solid #e6e6e6;
  background: #fff;
  position: sticky;
  bottom: 0;
  text-align: center;
  align-items: center;
}

.footer .btn,
.counter {
  padding: 10px;
  color: #777;
}

.footer .btn:active,
.footer .btn:focus,
.footer .btn:hover {
  outline: 1px solid #a5c8e0;
  border-radius: 5px;
}

.todo-filter .btn {
  margin: 0 10px;
}

footer:before {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgb(0 0 0 / 20%), 0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgb(0 0 0 / 20%);
}

@media screen and (max-width: 800px) {
  .footer {
    font-size: 16px;
  }

  .footer .btn {
    padding: 5px;
  }

  .todo-filter .btn {
    margin: 0;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    height: auto;
  }

  .todo-filter {
    display: flex;
    flex-direction: column;
  }
}
