* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(189, 217, 226);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.todo-app {
  background: #fff;
  top: 150px;
  margin: auto;
  max-width: 80%;
 
  position: relative;
}

header {
  font-size: 2rem;
  color: #a5c8e0;
  top: -150px;
  position: absolute;
  width: 100%;
  text-align: center;
}

button {
  border: none;
  font-size: 1rem;
  background: none;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}




